<div class="row validation-errors">
    <%for (validationError of validationErrors) {%>
            <div class="alert alert-danger" role="alert">
                <%=validationError.message%>
            </div>
        <%}%>
</div>