<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <link rel="stylesheet" href="../contents/styles/style.css">
</head>

<body>
    <%- include('./partials/nav') %>
    <header class="bg-secondary text-white">
        <div class="container text-center">
            <h1>401 - Not Authorized</h1>
            <p class="lead">You are not authorized to access this resource.</p>
        </div>
    </header>
</body>

</html>