<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="styles/style.css">
        <title>Homepage</title>
</head>

<body>

    <%- include('./partials/nav') %>

        <header class="bg-primary text-white">
            <div class="container text-center">
                <h1>Where's the Gig?</h1>
                <p class="lead">A landing page template freshly redesigned for Bootstrap 4</p>
            </div>
        </header>

        <section id="about" class="bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h2>About this page</h2>
                        <p class="lead">
                            <a href="/auth/register">Register</a> to use our service.</p>
                        <p class="lead">or
                            <a href="/auth/login">login</a> is you've already have an account.</p>
                    </div>
                </div>
            </div>
        </section>

        <section id="services">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h2>Services we offer</h2>
                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo
                            laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel,
                            labore ut velit dignissimos.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section id="contact" class="bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h2>Contact us</h2>
                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor, provident
                            officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa exercitationem,
                            in, quo totam.</p>
                    </div>
                </div>
            </div>
        </section>

        <% - include('./partials/script') %>
        <script>
        </script>
</body>

</html>