<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <center>
        <a href="/add/artist">ADD ARTIST</a>
    </center>
    <table style="width:70%" border=1>
        <tr>

            <th>
                <center>Name</center>
            </th>
            <th>
                <center>Genre</center>
            </th>
            <th>
                <center>Action</center>
            </th>

            <% artists.forEach(artist =>{ %>
        </tr>
        <tr>

            <td>
                <center>
                    <%= artist.name %>
                </center>

            </td>

            <td>
                <center>
                    <%= artist.genre %>

                </center>
            </td>

            <td>
                <center>
                    <a href="/edit/artist/<%=artist.id %>">EDIT</a> |
                    <a href="/delete/artist/<%=artist.id %>">DELETE</a>
                </center>
            </td>
            <% }) %>
    </table>
</body>

</html>