<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
  
    <table style="width:70%" border=1>
        <tr>

            <th>
                <center>Name</center>
            </th>
            <th>
                <center>Location</center>
            </th>
            <th>
                <center>Capacity</center>
            </th>
            
            <% venues.forEach(venue =>{ %>
        </tr>
        <tr>

            <td>
                <center>
                    <%= venue.name %>
                    
                </center>

            </td>

            <td>
                <center>
                        <%= venue.location %>

                </center>
            </td>
            <td>
                <center>
                        <%= venue.capacity %>

                </center>
            </td>
            <% }) %>
    </table>
</body>

</html>