<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create Gig</title>
</head>

<body>
    <h4>CREATE GIG</h4>
    <form action="/gigs/add" method="post">
        Name :
        <input type="text" name="name">
        <br> Schedule :
        <input type="date" name="schedule">
        <br> Price :
        <input type="text" name="price">

        <br> artist :
        <select name="artistId">
            <% artists.forEach(artist =>{ %>
               
                    <option value=<%=artist.id%> >
                        <%= artist.name %>
                            <% }) %>
                    </option>
                    
        </select>
        venue :
        <select name="venueId">
            <% venues.forEach(venue => { %>
                
                    <option value=<%=venue.id%> >
                            <%=venue.name%>
                            <% }) %>
                        </option>
                
                
                
        </select>

        <button type="submit"> CREATE </button>

</body>

</html>