<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <link rel="stylesheet" href="../../contents/styles/style.css">
</head>

<body>
    <%- include('../partials/nav') %>

        <section class="content bg-light">
            <div class="container">
                <div class="row">
                    <h4>Add Artists</h4>
                </div>
                <br>
                <div class="row">
                    <form action="/artists/add" method="POST">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" name="name" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="genre">Genre</label>
                            <input type="text" name="genre" class="form-control">
                        </div>
                        <a href="/artists" class="btn btn-secondary" role="button">Cancel</a>
                        <input type="submit" role="button" class="btn btn-primary" value="Add">
                    </form>
                </div>
                <%-include('../partials/validation')%>
            </div>
        </section>

</body>

</html>