<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Artist</title>
</head>

<body>
    <h4>Delete Artist</h4>

    <form action="/artists/delete/<%=artist.id%>" method="post">
        <dl>
            <dt>
                Name :
            </dt>
            <dd>
                <%= artist.name %>
            </dd>
            <dt>
                Genre :
            </dt>
            <dd>
                <%= artist.genre %>
            </dd>
        </dl>

       
            <input type="submit" value="delete">
            </form>
            

</body>

</html>